# dependencies
node_modules/

# build outputs
dist/
dist-electron/
out/
release/
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Electron builder
*.dmg
*.exe
*.AppImage
*.deb
*.rpm
*.blockmap

# cache
.cache/
.parcel-cache/